body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;

  /* The ultimate system font stack */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  
  /* Makes text crisp on high-DPI screens (Mac/iOS/Android) */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Prevents text size jumps on mobile orientation change */
  -webkit-text-size-adjust: 100%;  
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#panorama {
  width: 100vw;
  height: 100vh;
  background: #000;
}

.ui-layer {
  position: absolute;
  inset: 0;
  z-index: var(--z-index-1);
  pointer-events: none; 
}

.ui-layer * {
  pointer-events: auto; 
}

.ui-layer, 
.ui-layer *, 
.ui-layer *::before, 
.ui-layer *::after {
  box-sizing: border-box !important;
}

.hidden {
  visibility: hidden;
}
